 .quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  h1, h2 {
    text-align: center;
    color: #800018;
  }
  /*
  
  .results {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    color: #00796b;
  }
   */
   /* .quiz-container {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  } */
  
  .feedback {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
    color: #4caf50; 
  }
  
  .feedback.incorrect {
    color: #f44336; 
  }
  
  .correction {
    font-style: italic;
    color: #616161; 
  }
  
  .results {
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 20px;
    /* border: 2px solid ; */
    text-align: center;
    background-color: #f9f9f9;
  }
  
.submit-btn {
  background-color: #dd0031; 
  color: white;
  padding: 12px 24px; 
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
}

.submit-btn:hover {
  background-color: #a50025; 
  transform: scale(1.05); 
}

.submit-btn:active {
  background-color: #800018; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

.submit-btn:focus {
  outline: none; 
}

.submit-btn:disabled {
  background-color: #aaa; 
  cursor: not-allowed; 
}

  