
  .admin-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffefef; /* Rouge pâle pour le fond */
    border-radius: 8px;
    padding: 20px;
  }

  .title {
    text-align: center;
    font-size: 24px;
    color: #e74c3c; /* Rouge principal */
  }

  .add-service-form, .edit-service-form {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #e74c3c; /* Indicateur rouge sur le côté */
  }

  .form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  .submit-button {
    width: 100%;
    font-size: 16px;
    background-color: #e74c3c; /* Rouge */
    color: white;
    border: none;
  }

  .submit-button:hover {
    background-color: #c0392b; /* Rouge foncé */
  }

  .service-card {
    margin-bottom: 20px;
  }

  .service-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-left: 4px solid #e74c3c;
    background-color: #ffffff;
  }

  .service-title {
    font-size: 18px;
    font-weight: bold;
    color: #c0392b; /* Rouge foncé */
  }

  .service-description {
    color: #7f8c8d;
  }

  .service-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .edit-button, .delete-button {
    width: 45%;
    color: white;
    border: none;
  }

  .delete-button {
    background-color: #e74c3c; /* Rouge */
  }

  .delete-button:hover {
    background-color: #c0392b;
  }

  .edit-button {
    background-color: #e67e22; /* Orange (complémentaire) */
  }

  .edit-button:hover {
    background-color: #d35400; /* Orange foncé */
  }

