<div class="content-container">
    <h2>Présentation de l'Architecture Angular</h2>
    <p>
      Ce fichier PowerPoint contient une présentation détaillée de l'architecture d'Angular.
      Vous y trouverez des informations sur les modules, les composants, les services, 
      et bien d'autres aspects du framework Angular.
    </p>
    <div class="download-container">
      <button class="download-button" (click)="downloadPPT()">Télécharger le fichier PowerPoint</button>
      

    </div>
  </div>
  